* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: #76e209;
}

.header {
  font-family:'Lucida Grande';
  background-color: #2297dad5;
  color: #ffffff;
  text-align: center;
  font-size: 48px;
}


.header h2 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Gill Sans';
  font-size: 30px;
}

ul {
  text-align: center;
  margin-left: 100px;
  list-style-type: none;
}

li {
  margin-left: 100px;
  display: inline;
}

a {
  color: #da1919;
  font-size: 30px;
}


.content {
  margin-top: 20px;
  float: center;
}

.About-Me  { 
  margin-top: 75px;
  margin-left: auto;
}

#Family-Pictures {
  display: flex;
  flex: wrap;
  height: 450px;
  width: 450px;
}


p {
  float: center;
  font-size: 30px;
  color:#114ff8;
}

.My-Work {
  display: inline-block;
  margin-top: 75px;
}

.hero {
  position: relative;
  height: auto;
  width: auto;
}
h3 {
  position: absolute;
  margin-bottom: -10px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(183, 219, 20);
}
